body {
	background-color: white;
	font-family: Roboto, Sans-serif;
	color: #333333;
	font-size: 18px;
	margin: 0px;
}

h1 {
    font-family: K2D, Sans-serif;
    font-size: 38px;
}

p {
	line-height: 120%;
}
.main_container {
	width:100%;
	max-width: 900px;
	margin: 0px auto;

}

.legal_text {
	font-family: "Times New Roman", Serif;
	width: 90%;
	max-width: 900px;
	height: auto;
	margin-left: 5%;
	text-align: justify;
}

.centered_temp {
  padding: 200px 0;
  text-align: center;
}